* {
	box-sizing: border-box;
}
body {
    background: #f2f2f2;
    color: #5d6981; /* #979c9c;*/
}
.box {
	height: 71px;
	border: 2px solid darkred;
}
.fl {
    float:left;
    /*display: inline-block;*/
}
.img-100 {
    width:100%; 
    height:100%; 
    object-fit: cover; 
    overflow: hidden;
}
.pad-0 {
    padding-right: 0px;
    padding-left: 0px;
}
.inner {
    margin-left: 4%;
    margin-right: 4%;  
    max-width: 1220px;
    margin: 0 auto;
}
/*-- Header --*/
.scroll__header {
    /*
    position: fixed;
    width: 100%;
    */
    display: none;
    height: 80px; /*74px;*/
    background: #fff;
    /*z-index: 500;*/
    border-top: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
    padding-top: 4px;
    min-width: 480px;
}
.scroll-contact-block {
    margin-top: 10px; 
    margin-left: 77px;
}
.scroll-hb {
    color: #0149a1;   
}
.scroll-hr {
    color: #ff2d55;  
}
.scroll-hb, .scroll-hr {
    font-weight: 400;
    font-size: 3em;   /* 80px/16px = 5 */
}
.header-scroll {
   margin-top: -7px;
}
.header-row {
   padding-top: 65px;
}
.contact-block {
	margin-top: 27px;
}
.scroll-cart-img {
    float: right;
    margin-top: 10px; 
    margin-right: 77px;
}
.scroll-quantity {
    float: right;
    margin-top: 16px;
    margin-right: 2px;  
    font-size: 0,875em;
    font-weight: 600;
    color: #ff2d55;
}
.scroll-price {
    float: right;
    margin-top: 37px;
    margin-right: -22px;  
    font-size: 0,875em;
    font-weight: 600;
    color: #ff2d55;   
}
.avatar {
	position: absolute;
	margin-top: 5px;
}
.avatar_scroll {
    position: absolute;
    margin-top: 2px;
}    
.phone, .mail {
	margin-left: 55px; /*68px;*/ 
}
.phone a {
    color: #0149a1;
}
.phone a:hover {
    color: #0149a1;
    text-decoration: none;
}
.head_blue, .head_red {
	font-weight: 400;
    font-size: 4em;   /* 80px/16px = 5 */
}
.head_blue {
	color: #0149a1;
}
.head_red {
	color: #ff2d55;
}
.cart-img {
	float: right;
	margin-top: 26px;
}
.base-quantity {
    float: right;
    margin-top: 31px;
    margin-right: 2px;
    font-size: 1em !important;
    font-weight: 600;
    color: #ff2d55;
}
.base-price {
    float: right;
    margin-top: 53px;
    margin-right: -22px;  
    font-size: 0,875em;
    font-weight: 600;
    color: #ff2d55;   
}
/*-- Icons block --*/
.icons-row {
	margin: 90px 30px 0 30px;
}
.icons {
	display:block;
    text-align:center 
}
.icons-ref {
    text-decoration: none; 
    color: #5d6981;
}
.icons-ref:hover {
    text-decoration: none; 
    color: #ff2d55;
   }
.icons-header {
	margin-top: 6px; 
	font-size: 1.3em;  
}
/*-- Icons block --*/
.goods-1 {
	margin-top: 90px;	
}
.goods-header {
	font-weight: 400;
}
.goods-2 {
	margin-top: 47px;	
}
.goods-block {
	border: 1px solid #b2b2b2;
    border-radius: 6px 6px 6px 6px;
}
.img-block {
	border-bottom: 1px solid #ff2d55;
}
.goods-text {
	border-top: 1px solid #fcdddc;
    padding: 10px 15px 11px 15px;
    position: relative;
    background: #fff;

    border-radius: 0 0 6px 6px;
}
.goods-title {
	font-size: 1.125em;
    font-weight: 600;
    line-height: 24px;
    text-decoration: none;
    color: #000;
    margin-bottom: 0px;
}
.goods-text p {
	font-size: 0.8125em;
    line-height: 16px;
    position: relative;
    color: #5d6981;
    overflow: hidden;
    margin-bottom: 46px;
    min-height: 48px;
}

.bot_block {
	height: 26px;
    /*border: 1px solid #c1c1c1;*/
    margin: 0 28px;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
}
.quantity {
    float: left;
    position: relative;
    box-sizing: border-box;
	height: 26px;
    border-right: 1px solid #f2f2f2;/*#e4e4e4;*/
    width: 32%;
}
.vis_menu-btn {
	padding-left: 8px;
    font-size: 0.875em; /* 14px;*/
    line-height: 28px;
    font-weight: 600;
    color: #fff;
    position: relative;

    background: #ff2d55;

    cursor: pointer;
}
.vis_menu-btn:after {
    background: url(../img/arrow.png) no-repeat top center;
    width: 15px;
    height: 15px;
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 9px;
}
.vis_menu {
	display: none;
    z-index: 5555;
    position: absolute;

    padding-left: -7px;
    width: 100%;
    overflow-y: scroll;
    height: 126px;
    border: 1px solid #ff2d55;
    top: 27px;
    background: #fff;
    color: #000;

    font-size: 0.875em; /* 14px;*/
    font-weight: 600;

    list-style-type:none;
    padding-inline-start: 8px;

    cursor: pointer;
    /*
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    */
}
.vis_menu li:hover { 
    width: 100%;
	background-color: #ff2d55; 
    color: #fff;
	position: relative;
	left: -7px;
    list-style-type:none;
    cursor: pointer;
    display: list-item;
    text-align: -webkit-match-parent;
    line-height: 135% !important;

    padding-inline-start: 8px;
}
.price {
    float: left;
    width: 67%;
    text-decoration: none;
    line-height: 28px;
    font-size: 14px;
    font-weight: 600;
    color: #fff !important;
    height: 28px;
    /* border-left: 1px solid #c1c1c1; */
    border-left: 1px solid #f8f6f6;
    background-color: #ff2d55;
    display: block;
    position: relative;
    text-align: center;
    cursor: pointer;
}
 .price:before {
    background: url(../img/cart_18.png) no-repeat top center;
    width: 18px;
    height: 18px;
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -9px;
    right: 59%;
    /*
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 25px;
    height: 19px;
    margin-top: 4px;
    margin-right: 3px;
    content: '\e808';
    */
}

/*-- Footer --*/
.blue, .blue a {
    background: #0149a1;
    margin-top: 185px;
    color: #f2f2f2;
}
.rgba-white-light{
    color: #d3d3d3; /* Цвет линии для остальных браузеров */
    background-color: #d3d3d3; /* Цвет линии для браузера Firefox и Opera */
}
.dark-blue {
    background: #01377a;
}
/*for jQuery works*/
.active {
    display: block;
}

/*-- media queries --*/

@media all and (min-width: 1024px) {
.base-quantity {
    margin-top: 9%;
}
.base-price {
    margin-top: 16%;
}
.row-margin {
    /*margin-left: 20px;
    margin-right: 20px;*/
}

}

@media all and (min-width: 1200px) {
.base-quantity {
    margin-top: 8%;
}
.base-price {
    margin-top: 14%;
}

}
@media all and (min-width: 1920px) {
.base-quantity {
    margin-top: 5%;
}
.base-price {
    margin-top: 9%;
}

}

@media all and (min-width: 1024px) and (max-width: 1280px) {

.vis_menu-btn {
    padding-left: 8px;
    font-size: 0.875em; /* 14px;*/
    line-height: 28px;
    font-weight: 600;
    color: #fff;
    position: relative;
    background: #ff2d55;
    cursor: pointer;
}
.vis_menu-btn:after {
    background: url(../img/arrow_13.png) no-repeat top center;
    width: 15px;
    height: 15px;
    content: '';
    position: absolute;
    top: 51%;
    margin-top: -6px;
    right: 9px;
}
.quantity {
    float: left;
    position: relative;
    box-sizing: border-box;
    height: 26px;
    border-right: 1px solid #f2f2f2;/*#e4e4e4;*/
    width: 35%;
}
.price {
    float: left;
    width: 65%;
    text-decoration: none;
    line-height: 25px;
    font-size: 14px;
    font-weight: 600;
    color: #fff !important;
    height: 26px;
    /* border-left: 1px solid #c1c1c1; */
    background-color: #ff2d55;
    display: block;
    position: relative;
    text-align: center;
    cursor: pointer;
}
 .price:before {
    background: url(../img/cart_18.png) no-repeat top center;
    width: 18px;
    height: 18px;
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -9px;
    right: 68%;
}

}

@media all and (min-width: 1024px) { 

.avatar {
    margin-top: 5px;
}

.contact-block {
    margin-top: 7%;
}

.phone, .mail {
    margin-left: 16%;
    font-size: 1em;
    font-weight: 500;
}

.head_blue, .head_red {
    font-weight: 400;
    font-size: 3em;   /* 48px/16px = 3 */
}

.cart-img {
    margin-top: 7%;
}
.base-quantity {
    margin-top: 8%;
}
.base-price {
    margin-top: 16%;

}

.quantity {
    float: left;
    position: relative;
    box-sizing: border-box;
    height: 26px;
    border-right: 1px solid #f2f2f2;/*#e4e4e4;*/
    width: 35%;
}
.price {
    float: left;
    width: 65%;
    text-decoration: none;
    line-height: 28px;
    font-size: 0.875em;
    font-weight: 600;
    color: #fff !important;
    height: 28px;
    /* border-left: 1px solid #c1c1c1; */
    border-left: 1px solid #f8f6f6;
    background-color: #ff2d55;
    display: block;
    position: relative;
    text-align: center;
    cursor: pointer;
}
 .price:before {
    background: url(../img/cart_18.png) no-repeat top center;
    width: 18px;
    height: 18px;
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -9px;
    right: 68%;
}

}

@media all and (min-width: 992px) {

.base-price {
    margin-top: 14%;
}

}

@media all and (min-width: 480px) and (max-width: 991px) {

.goods-1 {
    margin-top: 8%;
}
.goods-2 {
    margin-top: 6%;
}

.bot_block {
    margin: 0 58px;
    height: 17%;
}
.quantity {
    /*height: 26px;*/
    width: 32%;
}
.vis_menu-btn {
    line-height: 30px;
}
.price {
    width: 68%;
    line-height: 31px;
    height: 30px;
}
.vis_menu {
    top: 29px;
    padding-inline-start: 13px;
    padding-inline-end: 22px;
}
.blue {
    margin-top: 50px;
}

/* for (max-width: 768px) px*/
.goods-text p {
    margin-bottom: 52px;
}
.bot_block {
    margin: 0 26px;
    height: 13%;
}

}

@media all and (max-width: 480px) { 
.dn {
    display: none;
}
.phone, .mail {
    margin-left: 3px;
}
.head_blue, .head_red {
    font-weight: 400;
    font-size: 3em;
}
}